<!doctype html>
<html lang="en">
  <head>
  	<title>Scheduler</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/5aed69d207.js" crossorigin="anonymous"></script>

  <style>
    .menu_icon{margin-top: 3px;margin-left: 0.1pc;color:rgba(212, 209, 209, 0.754);}
    .menu_text{margin-left: 0.8pc;color: rgba(212, 209, 209, 0.713);}
    .menu{margin-left: 1pc;margin-right: 1pc;}
    .active{background-color: rgba(255, 255, 255, 0.111);border-radius: 5px;}
    .menu_title{color: rgba(255, 255, 255, 0.905); font-weight: bold;font-size: 18px;}
    table{table-layout: fixed; border:1px solid rgb(175, 174, 174);width: 100%;}
    th{height: 20px;border:1px solid rgb(175, 174, 174);color: rgba(0, 0, 0, 0.713);text-align: center;}
    td{height: 80px;border:1px solid rgb(175, 174, 174); padding: 0;text-align:left;}
    .eventcontainer{height: 65px;overflow:hidden;width: 100%;padding-left: 5px;font-size: 12px;padding-top: 2px;padding-right: 5px;}
    .event{height: 22px; background-color: rgb(42, 125, 189);width: 100%;margin-top: 4px;border-radius: 3px;padding-left: 4px;overflow: hidden;color: rgba(255, 255, 255, 0.7);box-shadow: 1px 5px 5px rgba(39, 36, 36, 0.2);}
    .monthnum{text-align: right;font-size: 13px;color: rgba(0, 0, 0, 0.707);font-weight:900;margin-right: 10px;}
    .navbutton{border: 1px solid rgba(128, 128, 128, 0.563);border-radius:3px; width: 50px;margin-left: 10px;}
    .navicon{color: rgba(0, 0, 0, 0.494);}
    .eventsofday{background-color: rgba(164, 175, 199, 0.35); margin-bottom: 10px;height: 50px;padding-top: 10px;border-radius: 3px;}
    .eventdaybutton{float: right;margin-left: 10px;border: none; border-radius: 3px; color: rgba(255, 255, 255, 0.83);background-color: rgb(42, 125, 189);width: 70px;}
    .divcon{width: 15pc;overflow: hidden;display:inline-block;}
  </style>

	</head>
	<body style="background-color: rgb(46, 48, 49);">
    <div class="d-flex flex-row">
      <div class="d-flex flex-column" style="background-color: rgb(48, 50, 53);height: 100vh;width: 20%;">
          <div class="p-2 menu" style="height: 4pc;margin-bottom: 0.5pc;"></div>
          <div class="p-2 menu menu_title">Events</div>
          <div class="p-2 menu active" id="home">
            <a href="/">
            <div class="d-flex justify-content-start">
             <i class="fas fa-home fa-lg menu_icon"></i>
              <h6 class="menu_text">Home</h6>
            </div>
            </a>
          </div>
          <div class="p-2 menu" id="event">
            <a href="#" onclick="addEvent()" data-toggle="modal" data-target="#exampleModal">
            <div class="d-flex justify-content-start">
             <i class="fas fa-plus fa-lg menu_icon"></i>
              <h6 class="menu_text">Add Event</h6>
            </div>
            </a>
          </div>
         
        <div class="p-2 menu" style="height: 1pc;border-bottom: 2px solid rgba(89, 86, 86, 0.789);margin-bottom: 0.5pc;"></div>
        <div class="p-2 menu menu_title">Account</div>
        <div class="p-2 menu">
          <a href="/profile">
          <div class="d-flex justify-content-start">
            <i class="fas fa-user-circle fa-lg menu_icon"></i>
            <h6 class="menu_text">Profile</h6>
          </div>
          </a>
      </div>
      <div class="p-2 menu">
        <a href="/logout">
        <div class="d-flex justify-content-start">
          <i class="fas fa-sign-out-alt fa-lg menu_icon"></i>
          <h6 class="menu_text">Logout</h6>
        </div>
        </a>
    </div>
      </div>
      <div class="d-flex flex-column" style="background-color:rgb(235, 228, 228);height: 100vh;width: 80%; box-shadow: 0px 0px 10px 3px rgb(46, 43, 43);">
        <div style="height: 8%;width: 100%;background-color:rgb(59, 63, 65);box-shadow: 1px 0px 6px rgb(36, 34, 34);">
          <div class="d-flex flex-row">
            <div class="p-2" style="margin-left: 5px;margin-top: 4px;"><i class="far fa-clock fa-lg"></i></div>
            <div class="p-2" style="margin-left: -8px;margin-top: 7px;"><h6 style="color: rgb(212, 209, 209);">Scheduler</h6></div>
          </div>
        </div>
        <div style="height: 90%;width: 98%;background-color:rgb(247, 247, 247);box-shadow: 1px 0px 6px rgba(36, 34, 34, 0.275);margin-left: 0.5pc;margin-top: 0.5pc;padding: 1pc;">
          <div style="height: 15%;padding-top: 25px;" class="container"> 
            <div class="row align-items-center">
              <div class="col" style="margin-left: -1.5pc;margin-top: 1pc;"><button class="navbutton" id="<%= date %>" onclick="pageControl(this,0)"><i class="fas fa-chevron-left fa-lg navicon"></i></button><button class="navbutton" id="<%= date %>" onclick="pageControl(this,1)"><i class="fas fa-chevron-right fa-lg navicon"></i></button></div>
              <div class="col" style="margin-left: -13pc;margin-top: -2pc;"><label style="font-size: 30px;font-weight: bold;color: rgba(0, 0, 0, 0.782);"><%= curmonth +" "+year%></label></div>
            </div>
          </div>
          <div style="height: 85%;">
            <table>
              <thead>
                <tr>
                  <% var week = ['SUN',"MON","TUE","WED","THUR","FRI","SAT"];
                    var g;
                    var j = dayofweek;
                   for(g=0;g < 7;g++,j=(j+1)%7){ %>
                          <th ><%= week[j] %></th>
                  <% } %>
                </tr>
              </thead>
              <tbody>
               <% var x;
                var y;
                var count = 0;
                for (x=0;x < 5;x++){%>
                  <tr>
                    <% for(y=0;y < 7;y++){%>
                    <td>
                      <a href="#">
                      <div class="monthnum"><%= count + 1%></div>
                      <div class="eventcontainer" id="<%= curmonth +' '+(count + 1)+', '+year %>" onclick="getList(this)" data-toggle="modal" data-target="#Modal">
                        <%
                          if(calendar[count].length!=0){
                            var i; %>
                           <% for(i=0;i < calendar[count].length;i++){ %>
                              <div class="event" id="<%= calendar[count][i].id %>"><%= calendar[count][i].content %></div>
                           <% } }%>
                      </div>
                      </a>
                    </td>
                    <% if(count < days-1){count++; }else{ break; } } %>
                  </tr>
               <% }%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Add Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="padding-left: 6pc;color: black;">
        <form action="/addEvent" method="post">
         <h6>Content</h6><textarea name="content" id="content" cols="30" rows="5"></textarea>
         <br><label style="margin-right:10px">Date</label><input type="date" name="date" id="date">
         <br><label style="margin-right:10px">Time</label><input type="time" name="time" id="time">
        
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Date</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="emptyContainer()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="color: black;" class="container" id="eventdaycontainer">
          <form action="/updateEvent" method="post" id="updateEvent">
            <input type="hidden" name="id" id="editid">
            <input type="hidden" name="content" id="editcontent">
          </form>
          <form action="/deleteEvent" method="post" id="destroyEvent">
            <input type="hidden" name="id" id="delid">
          </form>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </form>
    </div>
  </div>
</div>


<form action="/home" method="get" id="pageForm">
  <input type="hidden" name="month" id="page">
</form>
	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script>
  
    function addEvent(){
      document.getElementById("event").classList.add('active');
      document.getElementById("home").classList.remove('active');
    }
    function closeModal(){
      document.getElementById("home").classList.add('active');
      document.getElementById("event").classList.remove('active');
    }


    function getList(elem){
      var eventdate = document.getElementById("exampleModalLabel");
      var container = document.getElementById("eventdaycontainer");
      var containerchild = container.children;
      var childs = elem.children;
      var i;
      eventdate.innerHTML = elem.id;

        for(i=0;i<childs.length;i++){
          var div = document.createElement('div');
          div.className = "col eventsofday";
          div.id = childs[i].id;
          var content = document.createElement('div');
          content.innerHTML = childs[i].innerHTML;
          content.className = "divcon";
          var edit = document.createElement('button');
          var deleteevent = document.createElement('button');
          edit.textContent = " Edit";
          deleteevent.textContent = " Delete";
          edit.className = "eventdaybutton";
          deleteevent.className = "eventdaybutton";
          edit.setAttribute("onclick","editEvent(this.parentNode)");
          deleteevent.setAttribute("onclick","deletemyEvent(this.parentNode)");

          div.appendChild(content);
          div.appendChild(deleteevent);
          div.appendChild(edit);
          container.appendChild(div);
        
      }
      console.log(childs[0].textContent); 
    }

    function editEvent(elem){
      
      var childs = elem.children;
      var input = document.createElement('input');
      var save = document.createElement('button');
      var cancel = document.createElement('button');
      var temp = childs[0].textContent;
      save.textContent = "Save";
      save.className = "eventdaybutton";
      save.setAttribute("onclick","saveEvent(this.parentNode)");
      cancel.textContent = "Cancel";
      cancel.setAttribute("onclick","cancelEvent('"+temp+"',this.parentNode)");
      cancel.className = "eventdaybutton";
      input.value = childs[0].textContent;
      input.name = "content";
      childs[0].replaceWith(input);
      childs[1].replaceWith(cancel);
      childs[2].replaceWith(save);
      
      console.log(input);
    }
    function saveEvent(elem){
      var childs = elem.children;
      var editid = document.getElementById("editid");
      var editcontent = document.getElementById("editcontent");
      var updateEvent = document.getElementById("updateEvent");
      editid.value = elem.id;
      editcontent.value = childs[0].value;
 

      updateEvent.submit();
      
    }

    function deletemyEvent(elem){
      var delEvent = document.getElementById("destroyEvent");
      var delid= document.getElementById("delid");
      delid.value = elem.id;
      delEvent.submit();

    }
    function cancelEvent(elem,parent){
      var childs = parent.children;
      var content = document.createElement('label');
      content.innerHTML = elem;
      childs[0].replaceWith(content);

      changeEventButtons(parent);
    }
    function changeEventButtons(elem){
      
      var childs = elem.children;
      var edit = document.createElement('button');
      var deleteevent = document.createElement('button');
      edit.textContent = " Edit";
      deleteevent.textContent = " Delete";
      edit.className = "eventdaybutton";
      deleteevent.className = "eventdaybutton";
      edit.setAttribute("onclick","editEvent(this.parentNode)");
      deleteevent.setAttribute("onclick","deletemyEvent(this.parentNode)");

      childs[1].replaceWith(deleteevent);
      childs[2].replaceWith(edit);
    }

    function emptyContainer(){
      var container = document.getElementById("eventdaycontainer");
      while (container.lastChild) {
        container.removeChild(container.lastChild);
      }
    }

    function pageControl(elem,index){
      var pageform = document.getElementById("pageForm");
      var page = document.getElementById("page");
     
      var date = new Date(elem.id);
      var month = date.getMonth();
      var year =date.getFullYear();
      month = (index==0)? month-1 : month+1;
      if(month <0){ year--;}else if(month >11){year++};
      month = month%12;
      var newdate = new Date(year,month,1);

      console.log("***************"+newdate);
      page.value = newdate;
     pageform.submit();
    }

    $(document).ready(function(){
    $(".eventcontainer").click(function(){
        $("#Modal").modal({
            backdrop: 'static',
            keyboard: false
        });
    });
});
  </script>
	</body>
</html>


